body, html {
    height: 100%;
    background-color: #171B26;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: bold;
}

#heatmap-container {
    width: 100%;
    height: 89vh;
}

@media (orientation: landscape) {
    @media (max-height: 500px) {
        #numCols option[value="30"],
        #numRows option[value="15"],
        #numRows option[value="20"] {
            display: none;
        }
        body, html {
            font-size: 10px;
        }
    }
}

@media (orientation: portrait) {
    @media (max-width: 500px) {
        #numCols option[value="15"],
        #numCols option[value="20"],
        #numCols option[value="25"],
        #numCols option[value="30"] {
            display: none;
        }
        body, html {
            font-size: 10px;
        }
    }
}

.select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.select-item label {
    margin-bottom: 5px;
}
.form-control {
    background-color: #171B26; /* Dark background color */
    color: #ffffff; /* White text color */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 0.25rem; /* Rounded corners */
    padding: 0.375rem 0.75rem; /* Padding */
    font-size: 1rem; /* Font size */
}

/* Styles for the select element when focused */
.form-control:focus {
    border-color: #80bdff; /* Border color on focus */
    outline: none; /* Remove outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Shadow effect */
}

/* Styles for the options */
.form-control option {
    background-color: #171B26; /* Same dark background color */
    color: #ffffff; /* White text color */
}

/* Optional: Add hover effect for options */
.form-control option:hover {
    background-color: #2c2f3a; /* Slightly lighter gray on hover */
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-item input[type="checkbox"] {
  margin-bottom: 2px;
}

.time-frame-label-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-right: 5px;
}

.time-frame-label-container label {
    position: absolute;
    color: #FFFFFF;
}

.time-frame-button-group {
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    padding: 2px 5px;
    margin-top: 25px;
}

.time-frame-button-group button {
    flex: 1;
    background-color: #171B26;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.time-frame-button-group button:hover {
    background-color: #2C3040;
}

.time-frame-button-group button.active {
    background-color: #4A5166;
    font-weight: bold;
}

.time-frame-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time-frame-buttons select,
.time-frame-buttons input[type="checkbox"],
.time-frame-buttons label {
    margin-left: 2px;
}

.time-frame-buttons button,
.time-frame-buttons input,
.time-frame-buttons label,
.time-frame-buttons select {
    background-color: #171B26;
    color: #FFFFFF;
    border: 5;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}

.time-frame-buttons label {
}
.time-frame-buttons button:hover,
.time-frame-buttons select:hover {
    background-color: #2C3040;
}

.time-frame-buttons button.active,
.time-frame-buttons select.active {
    background-color: #4A5166;
}

.checkbox-item label {
    margin-left: 5px;
}

.checkbox-item input[type="checkbox"] {
    width: 25px;
    height: 25px;
    background-color: #4A5166;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
}

.checkbox-item input[type="checkbox"]::before {
    content: "✓";
    color: #00B24D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    display: none;
}

.checkbox-item input[type="checkbox"]::after {
    content: "X";
    color: #de0e54;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    display: none;
}

.checkbox-item input[type="checkbox"]:checked::before {
    display: block;
}

.checkbox-item input[type="checkbox"]:not(:checked)::after {
    display: block;
}

.time-frame-buttons label {
    vertical-align: middle;
}

.legend-item {
    width: 60px;
    height: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.highcharts-legend-item .highcharts-point {
    display: none;
}