<!DOCTYPE html>
<html>
<head>
    <title>Stock Performance Heatmap</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="container"></div>
    <script src="https://code.highcharts.com/stock/highstock.js"></script> <!-- needed for ohlc -->
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="../static/js/stock-performance.js"></script>
    <script src="../static/js/stock-graph.js"></script>
</body>
</html>